@model IEnumerable<Seguranca.Domain.Models.EventoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Eventos</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.EventoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.EventoId }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.EventoId })
            </td>
        </tr>
}    </tbody>
</table>
