@model IEnumerable<SEG.Domain.Models.Aplicacao.PerfilModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Perfis</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>     
                @Html.DisplayFor(modelItem => item.Funcao.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.PerfilId }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.PerfilId }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.PerfilId })
            </td>
        </tr>
}
    </tbody>
</table>
